assignment4/Q2/output/nerf/**/*.png filter=lfs diff=lfs merge=lfs -text
assignment4/Q2/output/nerf/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assignment4/Q2/output/nerf/**/*.pth filter=lfs diff=lfs merge=lfs -text
